*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    position: relative;
    width: 100%;
    padding: 2%;
    padding-top: 2%;
    background-color: #fff;
}
table{
    border-collapse: collapse;
}
th{
    background-color: rgb(62, 12, 109);
    border: 1px solid white;
    text-align: center;
    color: white;
    height: 40px;
    width: 20%;
}
td{
    background-color: #ece9e9;
    border: 1px solid white;
    text-align: center;
    height: 30px;
}
img{
    width: 15%;
    margin-left: 40%;
}
