*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #ddebf8;
}
hr{
    color: hwb(0 56% 43%);
}

.sidebar{
    height: 100%;
    width: 81px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    background: #ffffff;
    transition: all 0.5s ease;
    box-shadow: 3px 3px 3px rgb(185, 184, 184);
}
.principal.active .sidebar{
    width: 238px;
}
.logo i{
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    line-height: 50px;
    text-align: center;
}
.sidebar .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}
.principal.active .sidebar.logo{
    opacity: inherit;
    pointer-events: none;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    line-height: 50px;
}
.sidebar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    color: rgb(62, 12, 109);
}
.sidebar ul li a :hover{
    color: #11101d;
    background-color: hsl(280, 18%, 38%);
    border-radius: 5px;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    line-height: 50px;
    text-align: center;
}
.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.principal.active .sidebar .link_name{
    opacity: 1;
    min-width: 120px;
    pointer-events: auto;
    transition: all 0.5s ease;
}
.sidebar .link{
    opacity: 0;
    pointer-events: none;
    transition: all 0s ease;
}
.principal.active .sidebar .link{
    opacity: 1;
    pointer-events: auto;
    transition: all 3s ease;
}
.sidebar .as{
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.principal.active .sidebar .as{
    opacity: 1;
    margin-left: 30px;
    pointer-events: auto;
    transition: all 0.5s ease;
}
#date{
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.principal.active .sidebar .logo #date{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}
.sidebar .logo img{
    height: 35px;
    min-width: 35px;
    line-height: 50px;
    line-height: 50px;
    margin-left: 6.5px;
}

.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    background: #ffffff;
    box-shadow: 0 5px 10px black;
    left: 122px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    display: block;
    pointer-events: none;
}
.principal.active .sidebar ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.D{
    margin-left: 82px;
    transition: all 0.5s ease;
    background-color: #fff;
    height: 56px;
    padding-top: 13.7px;
    font-size: 20px;
    width: 100%;
}
.principal.active .D{
    margin-left: 239.16px;
}
.D span{
    margin-left: 102.33px;
}
.D #btn{
    cursor: pointer;
}
.D #btn2{
    visibility: hidden;
}
.principal.active #btn{
    visibility: hidden;
}
.principal.active #btn2{
    visibility: visible;
    margin-left: 35px;
    cursor: pointer;
}

.corps{
    margin-left: 120px;
    transition: all 0.5s ease;
    margin-top: 40px;
}
.principal.active .corps{
    margin-left: 277px;
    transition: all 0.5s ease;
}
.card-body{
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid white;
    width: 98%;
    padding: 10px;
}
#card-body2{
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid white;
    width: 98%;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
}
.text-info{
    font-size: 22.5px;
}
h2{
    text-align: center;
}

footer{
    transition: all 0.5s ease;
    bottom: 0;
    position: fixed;
    padding-top: 0.5%;
    width: 100%;
    height: 10%;
    background-color: white;
    text-align: center;
}
.principal.active footer{
    width: 82.5%;
    transition: all 0.5s ease;
    margin-left: 238px;
}